# Переменные для базы данных
POSTGRES_DB=lms
POSTGRES_USER=lms_user
POSTGRES_PASSWORD=lms_password

# Обязательно сгенерируйте новый ключ для продакшена!
# https://djecrety.ir/
SECRET_KEY=

# Ключи Stripe
STRIPE_API_KEY=
STRIPE_SECRET_KEY=

# Настройки почтового сервера для отправки email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
