# Environment variables
.env

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media/
/static/

# Python stuff
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
env/
virtualenv/
venv/

# IDE / Editor folders
.idea/
.vscode/
